<!-- 底部 -->
<div class="footer">
    <div class="footer-nav">
        <ul class="pr clearfix">
            <li class="footer-logo-wrap"><div><a href="/" style="display: block;"><img src="__STATIC__/home/images/foot-mgoi.png" alt=""></a></div></li>
            <li class="three-nav">
                <p class="text"><a href="/about/{:getCategoryIdByName('唔该')}" class="colbc4 bold">唔该</a></p>
                <p class="footer-nav-product">
                    <a href="/product/{:getCategoryIdByName('产品')}">
                    <span class="colcca bold">产品</span>
                    <img src="__STATIC__/home/images/p1.png" width="42" alt=""></a>
                </p>
                <p class="text"><a href="/contact/{:getCategoryIdByName('联系')}" class="col4a bold">联系</a></p>
            </li>
            <li class="footer-nav-shopping">
                <a href="/"><strong class="bold">网上商城</strong>
                <img src="__STATIC__/home/images/news-icon.png" alt=""></a>
            </li>
        </ul>
    </div>
</div>
