<div class="header-sec">
    <div class="header-box">
        <div class="logo-wrap">MGOI 唔该</div>
        <div class="nav-wrap">
            <div class="btn-menu btn">
                <a href="javascript:;">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </a>
            </div>
            <div class="index-nav-wrap animated">
                <div class="nav-space"></div>
                <div class="index-nav-item">
                    <ul>
                        <li>
                            <a href="#"><span>唔该</span></a>
                        </li>
                        <li>
                            <a href="#"><span>产品</span></a>
                        </li>
                        <li>
                            <a href="#"><span>关于</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>