<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width, viewport-fit=cover" />-->

<script src="__STATIC__/home/js/flexible.js"></script>
<script src="__STATIC__/home/js/flexible_css.js"></script>

<!--&lt;!&ndash;[if !IE]>&lt;!&ndash;>-->
<!--<link rel="stylesheet" href="__STATIC__/home/css/swiper.min.css">-->
<!--<script src="__STATIC__/home//js/swiper.min.js"></script>-->
<!--&lt;!&ndash;<![endif]&ndash;&gt;-->


<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<link rel="stylesheet" href="__STATIC__/home/css/reset.css">
<link rel="stylesheet" href="__STATIC__/home/css/public.css">
<link rel="stylesheet" href="__STATIC__/home/css/main.css">