<div class="head-theme">
    <div class="head-teme-more-icon">
        <div class="more-icon"><img class="imgfff" src="__STATIC__/home/images/more-icon.png" alt=""><img class="imgblue" src="__STATIC__/home/images/more-icon-blue.png" alt=""><a style="padding: 30px;" href="/about/{:getCategoryIdByName('唔该')}"></a></div>
    </div>
    <div class="head-theme-wrap">
        <div class="head-theme-item colfff">
            <div class="info-con fontletter16 clearfix">
                <ul class="fl">
                    <li>「唔该」这句口头禅频繁出现在人际交往中理应表示谢意的场合——这场合本来应该说「谢谢」的，但是广东人就一句「唔该」。</li>
                    <li>古语「该」通「赅」，意为具备、完备、包括。《说文解字》释「该」道：「军中约也。」这又把它的使用情况界定在军队内。作为语言发展的一种结果，「该」的派生义「应该」已成为今日使用中的主要义，而渐被人忘却的基本义则转由「赅」去承担。</li>
                </ul>
                <div class="ch-logo fl font26">
                    <div class="head-theme-tit">
                        <p class="font20">mgoi</p>
                        <p class="font20">唔該</p>
                    </div>
                    <i></i>
                </div>
                <div class="info-mark line-mark"></div>
                <!--<div class="en-logo font30">mgoi</div>-->
            </div>
        </div>
    </div>
</div>