<div class="head-theme">
    <div class="head-teme-more-icon">
        <div class="more-icon"><a href="/about/{:getCategoryIdByName('唔该')}"><img class="imgfff" src="__STATIC__/home/images/more-icon.png" alt=""><img class="imgblue" src="__STATIC__/home/images/more-icon-blue.png" alt=""></a></div>
    </div>
    <div class="head-theme-wrap">
        <div class="head-theme-item colfff">
            <div class="info-con fontletter16 clearfix">
                <ul class="fl">
                    <li>「唔该」这句口头禅频繁出现在人际交往中理应表示谢意的场合——这场合本来应该说「谢谢」的，但是广东人就一句「唔该」。</li>
                    <li>古语「该」通「赅」，意为具备、完备、包括。《说文解字》释「该」道：「军中约也。」这又把它的使用情况界定在军队内。作为语言发展的一种结果，「该」的派生义「应该」已成为今日使用中的主要义，而渐被人忘却的基本义则转由「赅」去承担。</li>
                </ul>
                <div class="ch-logo fl font26">
                    <div class="head-theme-tit">
                        <p class="font20">mgoi</p>
                        <p class="font20">唔該</p>
                    </div>
                    <i></i>
                </div>
                <div class="info-mark line-mark"></div>
                <!--<div class="en-logo font30">mgoi</div>-->
            </div>
        </div>
    </div>
    <!--<div class="svg-container">-->
    <!--<svg id="head-svg" viewBox="0 0 963 690" xmlns="http://www.w3.org/2000/svg">-->
    <!--<circle cx='520' cy='350' r='30' fill='#fff' opacity='0'>-->
    <!--<animate id="a1" attributeName="r" attributeType="XML" from="0" to="800" begin="0s" dur="1s" keySplines='1 0 .25 .25' fill="freeze"></animate>-->
    <!--<animate id="a2" attributeName="opacity" attributeType="css" from="1" to="0" begin="0s" dur=".6s" fill="freeze" keySplines='1 0 .25 .25'></animate>-->
    <!--</circle>-->
    <!--</svg>-->
    <!--</div>-->
</div>