<script src="__STATIC__/home/js/flexible.js"></script>
<script src="__STATIC__/home/js/flexible_css.js"></script>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<link rel="stylesheet" href="__STATIC__/home/css/swiper.min.css">
<link rel="stylesheet" href="__STATIC__/home/css/reset.css">
<link rel="stylesheet" href="__STATIC__/home/css/public.css">
<link rel="stylesheet" href="__STATIC__/home/css/main.css">