<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>唔该 - 飞扬</title>
    <!--包含头部文件-->
    {include file="public/header" /}

    <style type="text/css">

        #head-svg{
            position: absolute;
            top: 0;
        }
    </style>
</head>
<body>
    <div class="container font14">
        <div class="main-content">
            <!--包含左侧logo-->
            {include file="public/left" /}
            <div class="content-wrap section">
                <div class="content-container index-content-container">
                    <!--包含左侧logo-->
                    {include file="public/head-theme" /}
                    <!-- 分享 -->
                    <div class="share-wrap font12">
                        <ul>
                            <li class="wx-wrap pr">
                                <div class="share-icon"><img src="__STATIC__/home/images/wx-icon-hover.png" alt=""></div>
                                <div class="share-tit"><div>最新的公众号资讯</div></div>
                                <div class="share-more wx-open-img">
                                    <div class="more-icon"><img src="__STATIC__/home/images/more-icon-blue.png" alt=""></div>
                                </div>

                            </li>
                            <li class="wx-wrap pr">
                                <div class="share-icon"><img src="__STATIC__/home/images/wb-icon-hover.png" alt=""></div>
                                <div class="share-tit"><div>官微带你看动态</div></div>
                                <div class="share-more">
                                    <div class="more-icon"><a href="https://weibo.com/u/5157058480" target="_blank"><img src="__STATIC__/home/images/more-icon-blue.png" alt=""></a></div>
                                </div>
                            </li>
                            <li class="wx-wrap pr">
                                <div class="share-icon"><img src="__STATIC__/home/images/taobao-icon-hover.png" alt=""></div>
                                <div class="share-tit"><div>一起逛逛逛吧</div></div>
                                <div class="share-more">
                                    <div class="more-icon"><img src="__STATIC__/home/images/more-icon-blue.png" alt=""></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 产品 -->
                    <div class="product-wrap">
                        <div class="swiper-container product-swiper-container">
                            <div class="swiper-wrapper clearfix">
                              <div class="swiper-slide"><img src="__STATIC__/home/images/p1.png" alt=""></div>
                              <div class="swiper-slide"><img src="__STATIC__/home/images/p1.png" alt=""></div>
                              <div class="swiper-slide"><img src="__STATIC__/home/images/p1.png" alt=""></div>
                            </div>
                            <!-- Add Pagination -->
                            <!-- <div class="swiper-pagination"></div> -->
                        </div>
                        <div class="product-more tr">
                            <a href="/product/{:getCategoryIdByName('产品')}"><span class="bold font14 col45">产品一览</span>&nbsp;&nbsp;&nbsp;&nbsp;<div class="more-icon"><img src="__STATIC__/home/images/more-icon-blue.png" alt=""></div></a>
                        </div>
                    </div>
                    <!-- 招聘 -->
                    <div class="recruit-wrap clearfix">
                        <div class="recruit-more fr">
                            <div class="more-icon"><a href="/contact/{:getCategoryIdByName('联系')}"><img src="__STATIC__/home/images/more-icon.png" alt=""></a></div>
                        </div>
                        <div class="recruit-info clearfix">
                            <h2 class="fl font20">招聘</h2>
                            <p class="font12">我们正在寻找一名工业设计师<br/>请联系我们哦</p>
                        </div>
                    </div>
                    <!-- 网上商城 -->
                    <div class="shopping-wrap">
                        <div class="shopping-tip font14 bold" style="color:#4576a1;">
                            网上商城在筹备中哦，敬请期待！
                        </div>
                        <!--<div class="shopping-more tr">-->
                           <!--<div class="more-icon"><img src="__STATIC__/home/images/more-icon-blue.png" alt=""></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--包含头部文件-->
        {include file="public/nav" /}
    </div>
    <div class="wx-img-wrap" style="display: none;">
        <div class="wx-mask"></div>
        <div class="wx-img-item">
            <img src="__STATIC__/home/images/wx-logo.jpg" alt="">
        </div>
    </div>
    <!--包含底部文件-->
    {include file="public/script" /}
    <script src="__STATIC__/home/js/zepto.js"></script>

    <script type="text/javascript">

        $(".wx-open-img").click(function(){
            $(".wx-img-wrap").show();
            $('.container').addClass('blur');
        });
        $(".wx-mask").click(function(){
            $(".wx-img-wrap").hide();
            $('.container').removeClass('blur');
        });



        function getLeftW() {
            var head_text_w = $(".head-theme-item .info-con ul").outerWidth();
            var head_tit_w = $(".head-theme-item .info-con .ch-logo").outerWidth();
            $(".head-theme-item .info-con").width(head_text_w+head_tit_w+30);
            var ww = document.getElementsByClassName('ch-logo')[0];
            var head_theme_item_w = $(".head-theme-item").width();
            var head_text_w = $(".head-theme-item .info-con").width();
            var head_left_w = (head_theme_item_w - head_text_w+30) / 2;
            return head_left_w;
        }

        $mark = $(".info-mark");
        $mark.animate({
            width:0
        },1000,function () {
            var leftW = getLeftW();
            $(".head-theme-item .info-con").animate({
                marginLeft: -leftW
            },1000,function(){
                $('.en-logo').animate({
                    opacity:1
                },1000);
            });
        });

    </script>
</body>
</html>