<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>唔该 - 飞扬</title>
    <!--包含头部文件-->
    {include file="public/header" /}
</head>
<body>
    <div class="container">
        <div class="main-content">
            <!--包含左侧logo-->
            {include file="public/left" /}
            <div class="content-wrap section">
                <div class="content-container">
                    <div class="content-section contact-content-section">
                        <h1 class="page-main-tit font30">联系</h1>
                        <div class="curpage-nav">
                            <ul class="clearfix">
                                <li>
                                    <div class="more-icon inside-page-more-icon"><img src="__STATIC__/home/images/more-icon.png" alt=""></div><span class="font18">企业</span>
                                </li>
                                <li>
                                    <div class="more-icon inside-page-more-icon"><img src="__STATIC__/home/images/more-icon.png" alt=""></div><span class="font18">招聘</span>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-wrap block-section">
                            <h2 class="h-tit font16">二月二十二（广州）宠物用品有限公司</h2>
                            <div class="contact-item font14">
                                <p><span>地址</span>广州市南沙区丰泽东路106号</p>
                                <p><span>电话</span>020 - 38608003</p>
                                <p><span>邮箱</span>m3goi1@163.com</p>
                            </div>
                        </div>
                        <div class="crecruit-wrap block-section">
                            <h2 class="h-tit font16">招聘</h2>
                            <div class="crecruit-item">
                                <p>我们正在寻找一名工业设计师。</p>
                            </div>
                        </div>
                    </div>
                    <!--包含底部文件-->
                    {include file="public/footer" /}
                </div>
            </div>
        </div>
        <!--包含头部文件-->
        {include file="public/nav" /}
    </div>
</body>
</html>